body {
    font-family: 'Open Sans' , sans-serif;
    color: #201b2d;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.animated {
    opacity: 0;
}

/* HEADER */

.header {
    background: rgba(89,183,237,1);
    background: -moz-linear-gradient(-45deg, rgba(89,183,237,1) 0%, rgba(73,139,200,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(89,183,237,1)), color-stop(100%, rgba(73,139,200,1)));
    background: -webkit-linear-gradient(-45deg, rgba(89,183,237,1) 0%, rgba(73,139,200,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(89,183,237,1) 0%, rgba(73,139,200,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(89,183,237,1) 0%, rgba(73,139,200,1) 100%);
    background: linear-gradient(135deg, rgba(89,183,237,1) 0%, rgba(73,139,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b7ed', endColorstr='#498bc8', GradientType=1 );
    padding-top: 62px;
    color: #fff;
}

.wrap {
    display: flex;
    align-items: center;
}

.dreamLife__Title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 37px;
    margin-bottom: 50px;
}

.dreaming {
    font-size: 59px;
}

.dreamLife__Text {
    margin-bottom: 45px;
    width: 400px;
}

.button {
    background-color: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 13px;
    text-decoration: none;
    color: #000000;
    transition: background-color .1s linear;
}

.button:hover {
    background-color: #e8b900;
}

/* AWAITS BLOCK */

.awaits {
    display: flex;
    margin: 105px 0;
}

.awaits__title {
    text-align: center;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-top: 100px;
}

.awaits__item {
    width: 33.3333%;
    justify-content: center;
    text-align: center;
}

.awaits__photo {
    height: 90px;
}

.awaits__itemTitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    margin-top: 20px;
}

.awaits__text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

/* FORM */

.formBlock {
    background-color: #ecf3f8;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;

}

.form {
    display: flex;
    flex-direction: column;

}

.formInput {
    color: #9c9b9f;
    border: 1px solid #bbbbbb;
    border-radius: 1px;
    height: 50px;
    width: 340px;
    margin: 14px auto;
    text-align: center;
}

.formInput:first-child {
    margin-top: 64px;
}

.formButton {
    height: 55px;
    width: 340px;
    border: none;
    background-color: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .1s linear;
    margin: 0 auto;
}

.formButton:hover {
    background-color: #e8b900;
}

/* FOOTER */

.footer {
    background-color: #164d7a;
    padding: 40px 0;
}

.footer p {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* MEDIA */

@media screen and (max-width:1200px) {

    .container {
        width: 960px;
    }

    p {
        width: auto;
    }

    .travelPhoto {
        max-width: 550px;
        width: 100%;
    }

}

@media screen and (max-width:992px) {

    .container {
        width: 720px;
    }

    .wrap {
        flex-direction: column;
    }

    .dreamLife {
        width: 100%;
    }

    .dreamLife__Text {
        width: 100%;
    }

}

@media screen and (max-width:768px) {

    .container {
        width: 540px;
    }

    .awaits__item {
        margin-right: 10px;
    }

}

@media screen and (max-width:576px) {

    .container {
        width: 90%;
    }

    .travelPhoto {
        margin-top: 25px;
    }

    .awaits {
        flex-wrap: wrap;
    }

    .awaits__item {
        width: 100%;
        margin-bottom: 25px;
    }

    .formInput {
        width: 100%;
    }

    .formButton {
        width: 100%;
    }
}
















